@import url(util.css);

body {
    padding-top: 2%;
    font-family: 'Young Serif', serif;
    background-image: linear-gradient(#000000, #ff0000);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    max-height: max-content;
    color: #ffffff;
    width: 100vw;
    overflow-x: hidden;
    text-align: center;
    font-size: xx-large;
}

.total {
    height: 100vh;
}

li {
    text-decoration: underline;
    padding: 10px 0;
}