* {
    margin: 0;

}

a {
    cursor: pointer;
    text-decoration: none;
}

a:link {
    cursor: pointer;
    color: rgb(255, 255, 255);
    text-decoration: none;

}

/* link que foi visitado */
a:visited {
    cursor: pointer;
    color: rgb(255, 255, 255);
    text-decoration: none;

}

/* mouse over */
a:hover {
    cursor: pointer;
    color: rgb(255, 255, 255);
    text-decoration: none;

}

/* link selecionado */
a:active {
    color: rgb(255, 255, 255);
    text-decoration: none;

}

div:target {
    scroll-margin-top: 100px
}

html {
    scroll-behavior: smooth;
}
